@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.container {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.page .image-bg img{
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.page {
    position: absolute;
    opacity: 0;
    transition: opacity 400ms ease-out;
    display: flex;
    align-items: center;
}

.white-container {
    width: 620px;
    position: absolute;
    background-color: #ffffff;
    margin-left: 180px;
    padding: 65px 60px;
    border-radius: 10px;
}

.white-container .title {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 80px;
}

.white-container .paragraph {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 50px;
}

.white-container a {
    font-weight: 700;
    font-size: 30px;
}

.white-container .link1 {
    color: #C50000;
}

.white-container .link2 {
    color: #D9DD10;
}

.white-container .link3 {
    color: #A63A17;
}

.white-container .link4 {
    color: #10ACDD;
}

.arrow-right, .arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background: transparent; 
    border: 0;
}

.arrow-right {
    right: 35px;
}

.arrow-left {
    left: 35px;
}


.page.selected {
    opacity: 1;
}

.arrow-efect {
    opacity: .3;
    cursor: default;
}